body {
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  background-color: #F6F7FB;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  height: 100vh;
}

.trash {
  width:15px;
  margin-left:15px;
}

.avatar{
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.row {
  border-top: 1px solid #DFDFDF;
  border-right: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;
  background-color: #FFFFFF;
  width : 50%;
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 15px;
}

.last-row{
  border-bottom: 1px solid #DFDFDF;
}

h6 {
  font-size:14px;
  margin: 0px;

}
